DB_HOST=localhost
DB_PORT=1433
DB_NAME=SistemaAluguelCarros
DB_USER=sa
DB_PASSWORD=YourStrong!Passw0rd
DB_SCHEMA=dbo
DB_ENCRYPT=false
DB_TRUST_SERVER_CERT=true
APP_SEED=true
SERVER_PORT=8080
AGENT_USERNAME=agente
AGENT_PASSWORD=agente123
AGENT_DISPLAY_NAME=Agente Financeiro
